{% for type, event in events %}
    <div class="card" style="margin-left: 70px;">
        <div class="card-header">
            ({{ type }}) {{ event.title }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ event.date|date('Y-m-d') }}</li>
            <li class="list-group-item">{{ event.description }}</li>
        </ul>
    </div>
{% endfor %}

